# This workflow will build and push Docker images into ghcr.io/eclipse-set
name: 'Build and push Docker image'

on: workflow_dispatch

env:
  REGISTRY: ghcr.io

jobs:
  build-push:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        
      - name: Login into the container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Github CLI image
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6.19.1
        with:
          context: .
          file: ./docker/github-cli/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/eclipse-set/github-cli:latest

      - name: Build and push Table-Diff-View-Handle
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6.19.1
        with:
          context: ./docker/table-diff-handle
          file: ./docker/table-diff-handle/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/eclipse-set/table-diff-view:latest

      - name: Build and push Update Table Reference image
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6.19.1
        with:
          context: ./docker/update-table-reference
          file: ./docker/update-table-reference/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/eclipse-set/update-table-reference:latest
        
