# This workflow will deploy utils maven plugin
name: 'Deployment the util MavenPlugin'

on:
  workflow_dispatch:
    inputs:
      plugin:
        description: 'Plugin to Deploy'
        required: true
        default: 'license-maven-plugin'
        type: choice
        options:
          - license-maven-plugin
          - release-notes-maven-plugin
          - rootfiles-maven-plugin
      version:
        description: 'Deploy version <major>.<minor>.<patch>'
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    
    steps:
      - name: Validate version format
        if: inputs.version != ''
        run: echo '${{ inputs.version }}' | grep -P '^\d+\.\d+\.\d+(\.[a-z0-9]+)?$'

      - name: Checkout repository
        uses: actions/checkout@v6
    
      - name: Setup Java
        uses: eclipse-set/build/.github/actions/setup-java@main

      - name: Version bump
        working-directory: utils/${{inputs.plugin}}
        shell: bash
        run: |
          if [[ "${{inputs.version}}" == "" ]]; then
            currentVersion=$(mvn help:evaluate -Dexpression='project.version' -q -DforceStdout)
            echo "CURRENT_VERSION=$currentVersion" >> $GITHUB_ENV
            IFS='.' read -r MAJOR MINOR PATCH <<< "$currentVersion"
            NEW_VERSION="$MAJOR.$((MINOR+1)).0"
            echo "DEPLOY_VERSION=$NEW_VERSION" >> $GITHUB_ENV
            mvn versions:set -DnewVersion=$NEW_VERSION -DgenerateBackupPoms=false
          else
          echo "DEPLOY_VERSION=${{inputs.version}}" >> $GITHUB_ENV
            mvn versions:set -DnewVersion=${{inputs.version}} -DgenerateBackupPoms=false
          fi

      - name: Push to Github
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          git config user.name 'eclipse-set-bot'
          git config user.email 'set-bot@eclipse.org'
          git status
          git add -A
          git commit --allow-empty -m "Deploy ${{inputs.plugin}}:${{ env.DEPLOY_VERSION }}" 
          git status
          git push
<<<<<<< Updated upstream
=======
          git status

      - name: Deploy Plugin
        working-directory: utils/${{ inputs.plugin }}
        run: mvn -T1.5C -U clean deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Reset Version
        if: failure()
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          mvn version:set -DnewVersion=${{env.CURRENT_VERSION}} -DgenerateBackupPoms=false
          git status
          git add -A
          git commit --allow-empty -m "Revert bump version ${{inputs.plugin}}"
          git push
>>>>>>> Stashed changes
          git status



        

